/* penser à importer la font en local */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* base style */
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
  /* Colors */
  --blue: #0065FC;
  --l-blue: #DEEBFF;
  --gray: #F2F2F2;
  --d-gray: #d9d9d9;
}
main {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

/* Header */
header {
  display: grid;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar button";
}
.logo {
  grid-area: logo;
  padding: 0 2rem;
  height: 2.813rem;
}
nav {
  display: flex;
  align-items: center;
  grid-area: navbar;
}
header a {
  padding: 3rem 2rem;
  font-weight: 500;
  text-align: center;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
}
header a[data-active=true] {
  color: var(--blue);
  border-top: 3px solid var(--blue);
}
header a:hover {
  color: var(--blue);
  border-top: 3px solid var(--blue);
}
.signup {
  align-items: center;
  grid-area: button;
  color: var(--blue);
  font-weight: 600;
}
@media (max-width: 640px) {
  header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . button" "navbar navbar navbar";
  }
  .logo {
    order: 0;
  }
  .signup {
    order: 1;
  }
  nav {
    order: 2;
  }
  nav a {
    border-top: none;
    border-bottom: 3px solid var(--gray);
    width: 50%;
  }
  nav a[data-active=true] {
    border-bottom-color: var(--blue);
    border-top: none;
  }
  nav a:hover {
    border-bottom-color: var(--blue);
    border-top: none;
  }
}

/* Hero */
#hero {
  padding: 3rem 0;
}
form {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
#searchicon {
  background-color: var(--gray);
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
  height: 1rem;
}
input {
  border-right: none;
  border-left: none;
  border-top: var(--gray) 1px solid;
  border-bottom: var(--gray) 1px solid;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 14rem;
  font-weight: bold;
}
input::placeholder {
  color: var(--d-gray);
}
button{
  background-color: var(--blue);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  cursor: pointer;
}
button{
  display: block;
}
i.searchbuttonicon {
  display: none;
}
.filters {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.filters h2 {
  margin: 0 2rem 1rem 0;
  display: flex;
  align-items: center;
}
.filterscontainer {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid var(--d-gray);
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: bold;
}
.filterscontainer:last-child {
  margin-right: 0;
}
.filterscontainer i {
  background-color: var(--l-blue);
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
  color: var(--blue);
}
.filterscontainer span {
  margin: 0 1rem;
}
#results {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}
#results i {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px var(--d-gray);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  color: var(--blue);
}
#results {
  margin: 0;
}
@media (max-width: 640px){
  form {
    display: flex;
    width: 100%;
  }
  input {
    flex: 1;
  }
  button span {
    display: none;
  }
  i.searchbuttonicon {
    display: block;
  }
  .filters h2 {
    width: 100%;
  }
  .filterscontainer {
    margin-right: 1rem;
  }
}

/* Hosting & popular */
.hostpop-container {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 6fr 3fr;
}
.hostingWrapper, .popular, .hosting {
  background-color: var(--gray);
  border-radius: 1.5rem;
  padding: 2rem;
}
.hostingcontainer {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.hosting h2, .popular h2 {
  margin: 0;
  grid-column: 1/-1;
}
@media (max-width: 1440px) {
  .hostpop-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .popular {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 10rem;
    column-gap: 2rem;
    grid-row-start: 1;
  }
  .popular h2 {
    grid-column: 1/-1;
  }
}
@media (min-width: 925px) {
  .hosting {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 925px) and (min-width: 650px) {
  .hosting {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .hosting {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1000px) {
  .popular {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 9rem);
  }
}


/* Hosting & popular card */
.articleCard {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
}
.articleCard figure {
  margin: 0;
}
.articleCard figure img {
  height: 7rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}
.articleCard figure figcaption h3, .popularContainerDescription h3, .articleCard p {
  margin: 0.25rem 0.75rem 0 0.75rem;
}
.grade {
  margin: 0.5rem 0.75rem 0.25rem 0.75rem;
}
.grade i[data-active=true] {
  color: var(--blue);
}
.grade i[data-active=false] {
  color: var(--d-gray);
}
.viewmore {
  font-weight: bold;
}

/* Popular card */
.popularCard {
  height: 8.75rem;
}
.popularContainer {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}
.popularContainerImg {
  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}
.popularContainerImg img {
  border-radius: 1rem 0 0 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popularContainerDescription {
  display: flex;
  flex-direction: column;
}
.gradePopular {
  margin-top: auto;
}

/* activity */
.activity {
  display: grid;
  column-gap: 2rem;
  margin: 4rem 0;
}
.activity h2 {
  grid-column: 1/-1;
}
.activityCard {
  box-shadow: 0 0 15px #0000001a;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
}
.activityCardWrapimg {
  position: relative;
  flex: 1;
}
.activityCardWrapimg img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.activityCard h3 {
  margin: 1.2rem 1.5rem;
}
.activity {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
}
@media (min-width: 1024px) {
  .activityCard:nth-of-type(1) {
    grid-row: 2/7;
    grid-column: 1/2;
  }
  .activityCard:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 2/5;
  }
  .activityCard:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 2/7;
  }
  .activityCard:nth-of-type(4) {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .activityCard:nth-of-type(5) {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .activityCard:nth-of-type(6) {
    grid-column: 4/5;
    grid-row: 4/7;
  }
}
@media (max-width: 1024px) {
  .activity {
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 12rem 12rem 12rem;
  }
}
@media (max-width: 640px) {
  .activity {
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
  }
}

/* popular */
.popular {
  display: grid;
  row-gap: 2rem;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
}

/* Activity */
.activity {
  display: grid;
  column-gap: 2rem;
  margin: 4rem 0;
}

/* footer */
footer {
  background-color: #F2F2F2;
  width: 100%;
}
.footerColumnwrapper {
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  box-sizing: border-box;
}
.footerColumn {
  width: 30%;
  padding: 2rem 2rem;
}
.footerColumn a {
  display: block;
  margin: 1rem 0;
}
.footerColumn a:hover {
  text-decoration: underline;
}
